// color
$white: #fff;
$black: #000;
$dark-blue: #3a494c;
$dark: #666666;
$recent-bg: #9bd5a6;

// breakpoints
$xs:  max-width 768px !default;
$sm:  min-width 768px !default;
$md:  min-width 992px !default;
$lg:  min-width 1200px !default;
$xlg: min-width 1600px !default;

// fonts
$font-path: '../fonts/';
