extends layout/_main

block title
  | COLORFUL FLAT

block content
  .slider.owl-carousel
    -for(var i = 0; i < 3; i++)
      .item(style=`background-image: url(${imgPath}item.jpg)`)
        .container-fluid
          h2.h2 This Template is Awesome!
          p In has brute virtute, mundi facete perfecto ius ne. Cu tota evertitur necessitatibus nec. Ei quo rebum zril electram, accusata iracundia ei his. Ad qui recusabo deseruisse, cu per odio nihil. Eu vide mucius mei. Maiorum tractatos instructior ut eos, graece graecis vix an, consul impetus mediocrem an his. Possit pericula argumentum vix ex.
          a.btn.btn-white.text-uppercase.text-center(href='#') read more
