//- text variables
-var blocks = [{'image': 'image_1','heading': 'Flat Design','text': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est. Mauris faucibus tellus ac auctor posuere.'},{'image': 'image_2','heading': 'Great Ideas','text': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est. Mauris faucibus tellus ac auctor posuere.'},{'image': 'image_3',   'heading': 'Browser  Compatibility','text': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam est. Mauris faucibus tellus ac auctor posuere.'}]

-var filter = ['doueu', 'doster', 'duarque', 'delicata', 'aliquando']
