* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

input, button, a {
	&:focus {
		outline: none;
		box-shadow: none;
	}
}

li { list-style: none; }

a { text-decoration: none; }

figure { margin: 0; }

.image-container img,
.responsive-image {
	@include size(100% auto);
	display: block;
}

.relative { position: relative; }

.text- {
  &center { text-align: center; }

  &left { text-align: left; }

  &right { text-align: right; }

  &uppercase { text-transform: uppercase; }
}

.hidden {
	&-xs {
		@include mobile { display: none; }

		@include tablet { display: flex; }
	}

	&-sm {
	  @include mobile { display: block; }

	  @include tablet { display: none; }
	}
}

.progress-line {
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
	z-index: 5;
}
