header {
	@include size(100% null);
	position: fixed;
	@include horizontal-center;
	z-index: 2;
	@include transition;

	@include mobile {
		padding: {
			top: 10px;
			bottom: 10px
		}
	}

	@include tablet {
		padding: {
			top: 50px;
			bottom: 50px
		}
	}

	&.squash {
		padding: {
			top: 10px;
			bottom: 10px;
		}
		background-color: $white;

		@include mobile {
			padding: {
				top: 10px;
				bottom: 30px;
			}
		}
	}

	.container-fluid .grid_6 {
		@include mobile {
			@include size(100% null);
			text-align: center;
		}
	}

	.logo {
		color: $dark-blue;

		@include mobile { @include font(30px, 30px); }

		@include tablet { @include font(40px, 40px); }

		.fa { margin-right: 10px; }

		span { font-family: 'bree_serif'; }
	}
}

.nav {
	display: flex;
	flex: {
		direction: row;
		wrap: wrap;
	}
	justify-content: flex-end;
	align-items: center;

	@include mobile {
		@include size(100vw 100vh);
		background-color: $white;
		position: fixed;
		top: 70px;
		left: 0;
	}

	@include tablet {
		@include size(auto);
		background-color: transparent;
		position: static;
	}

	li {
		z-index: 2;

		a {
			padding: 15px;
			@include font(18px, 40px);
			font-family: 'ubuntu';
			color: $dark-blue;
			@include transition;

			&:hover { color: $white; }
		}
	}

	.move-on-hover {
		@include size(auto 40px);
		background-color: $dark-blue;
		border-radius: 5px;
		position: absolute;
		z-index: 0;
		@include transition;
		pointer-events: none;
	}
}
